<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'survey/bootstrap.min.css' %}">

    {% block stylesheets %} {% endblock %}

    {% block prescripts %}
    <script src="{% static 'survey/jquery.min.js' %}"></script>
    {% endblock %}

    <div id="scroll_top"></div>
    <title>{% block title %}USNA/CS & GWU/CS Research{% endblock %}</title>
  </head>

  <body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(0,51,127);">
      <span class="navbar-brand">
          <img src="{% static 'survey/images/USNA_Logo_United_States_Naval_Academy.png' %}" width=30 class="d-inline-block align-middle">
          <img src="{% static 'survey/images/gw_monogram_2c_rev.png' %}" width=30 class="d-inline-block align-middle">
        USNA/CS & GW/CS
      </span>
      
      <div>
        <ul class="navbar-nav">
          <li>
            {% block optout %} {% endblock %}
          </li>
          <li>
	    <button class="btn btn-primary mx-2" type="button" data-toggle="collapse" data-target="#moreinfo" aria-expanded="false" aria-controls="moreinfo">
              <small>
		<i>info</i>
	      </small>
            </button>
          <li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    {% block progbar %} {% endblock %}
    {% block progress %}
     <div class="row w-100">
      <!-- <div class="w-100" id="moreinfo"> -->
	<div class="{% block infocollapse %} collapse {% endblock %} w-100" id="moreinfo">
        <div class="container-fluid w-100 px-3 mb-5 bg-light shadow-lg rounded">
          <ul class="list-unstyled">
            <li> Title: <b> Effects of Modification to Android Unlock Pattern Authentication Security </b></li>
            <li> PI: MIDN Tim Forman (USNA), Drs. Adam J. Aviv (GWU) and Daniel S. Roche (USNA)</li>
            <li> Inst: <a  class="text-light bg-dark" href="http://www.usna.edu">The United States Naval Academy</a> </li>
            <li> Inst: <a  class="text-light bg-dark" href="http://www.gwu.edu">The George Washington University</a> </li>
            <li >IRB: <a  class="text-light bg-dark" href="http://www.usna.edu/HRPP/">Human Research Protection Program (USNA)</a> </li>
            <li >IRB: <a  class="text-light bg-dark" href="https://humanresearch.gwu.edu/">Office of Human Research (GWU)</a> </li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
     
    <div class="container-fluid">
      {% block height %}
      <div class="w-auto shadow-lg p-3 mb-5 bg-white rounded" style="height:100%">
	{% endblock %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    
    {% block endscripts %}
    <script src="{% static 'survey/popper.min.js' %}"></script>
    <script src="{% static 'survey/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>

</html>
  
