{% extends "base.html" %}

{% block optout %}
<a class="text-light bg-dark text-right text align-bottom mx-2" href="/optout"> opt-out </a>
{% endblock %}

{% block progbar %}
<div class="progress">
  <div class="progress-bar" style="width:{{progress}}%;"
       role="progress" aria-valuenow="{{progress}}" aria-valuemin="0"
       aria-valuemax="100">
    <div id="progress_num" style="width:100vw;text-align:center;color:#000000;">{{progress_label}}</div>
    <script>
      if({{progress_int}} >= 9){
      prog = document.getElementById("progress_num");
      prog.style.color = "#FFFFFF";
      document.getElementById("scroll_top").scrollIntoView();
      }
    </script>
  </div>
</div>
{% endblock %}
